{% extends 'base.html.twig' %}

{% block main %}

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">

            <h1 class="jumbotron-heading">Category - {{subcategories.currentCategoryName}}</h1>
            <div class="btn-group">
                <div class="dropdown ml-2">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Subcategories
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <ul class="mr-5">
                        <li><a href="{{path('video_list',{'categoryname':subcategories.mainParentName|slugify|lower, 'id':subcategories.mainParentId})}}">{{subcategories.mainParentName}}</a></li>
                           {{subcategories.categorylist|raw}}
                        </ul>
                    </div>
                </div>

            {{ include('front/includes/_sort.html.twig') }}
                
            </div>
        </div>
    </section>

    {{ include('front/includes/_videos.html.twig', {'videos' : videos}) }}
    {{ knp_pagination_render(videos) }}
</main>
{% endblock %}
